# https://github.com/rossmacarthur/sheldon#readme

shell = "zsh"

[templates]
# zsh-deferを提供するカスタムテンプレート
defer = """
{{ hooks?.pre | nl }}{% for file in files %}
ensure_zcompiled "{{ file }}"
zsh-defer source "{{ file }}"
{% endfor %}{{ hooks?.post | nl }}"""
compile_source = """
{{ hooks?.pre | nl }}{% for file in files %}
ensure_zcompiled "{{ file }}"
source "{{ file }}"
{% endfor %}{{ hooks?.post | nl }}"""
PATH-bin = 'export PATH="{{ dir }}/bin:$PATH"'
fpath-src = 'fpath=("{{ dir }}/src" $fpath)'

[plugins]

# https://github.com/rossmacarthur/sheldon/blob/344dfc75e8c043c0d853007d2bdc00c85a74dbcf/docs/src/Examples.md#deferred-loading-of-plugins-in-zsh
[plugins.zsh-defer]
github = "romkatv/zsh-defer"
apply = ['compile_source']

[plugins.zsh-smartcache]
github = "QuarticCat/zsh-smartcache"
apply = ["compile_source"]


# should be before compinit
[plugins.zsh-completions]
github = "zsh-users/zsh-completions"
apply = ["defer", "fpath-src"]

# これを使うときはcompinitは呼ばない
[plugins.zsh-autocomplete]
github = "marlonrichert/zsh-autocomplete"
apply = ["compile_source"]

[plugins.zsh-autocomplete.hooks]
post = """
# Tab/Shift-Tab で「候補リストに入る」= 最初の候補を即挿入しない
bindkey '^I' menu-select
bindkey "$terminfo[kcbt]" menu-select
"""

# ZLE widgets
[plugins.zsh-cdr]
github = "willghatch/zsh-cdr"
apply = ["defer"]

[plugins.zaw]
github = "zsh-users/zaw"
apply = ["defer"]

[plugins.zsh-autopair]
github = "hlissner/zsh-autopair"
apply = ["defer"]


[plugins.zsh-autosuggestions]
github = "zsh-users/zsh-autosuggestions"
apply = ['compile_source']

[plugins.anyframe]
github = "mollifier/anyframe"
apply = ["defer"]
[plugins.anyframe-alias]
inline = 'alias a=anyframe-widget-select-widget'

# envs

# LANG
[plugins.LANG]
local = "~/dotfiles/plugins/lang"
apply = ['compile_source']

[plugins.MANPAGER]
local = "~/dotfiles/plugins/MANPAGER"
apply = ["defer"]

[plugins.brew]
local = "~/dotfiles/plugins/brew"
apply = ["defer"]

[plugins.git]
local = "~/dotfiles/plugins/git"
apply = ["defer", "PATH-bin"]

[plugins.source-zshrc]
inline = 'alias reload="source ~/.zshrc"'

[plugins.my-alias]
local = "~/dotfiles/plugins/my-alias"
apply = ['compile_source']


# history manager
[plugins.atuin]
local = "~/dotfiles/plugins/atuin"
apply = ["defer"]

[plugins.zsh-command-time]
github = "popstas/zsh-command-time"
apply = ["defer"]

[plugins.inputrc]
local = "~/dotfiles/plugins/inputrc"
apply = ["defer"]

[plugins.nvim]
local = "~/dotfiles/plugins/nvim"
apply = ["defer"]

[plugins.tmux]
local = "~/dotfiles/plugins/tmux"
apply = ["defer"]

[plugins.direnv]
local = "~/dotfiles/plugins/direnv"
apply = ['compile_source']

[plugins.tailscale]
inline = 'alias tailscale="/Applications/Tailscale.app/Contents/MacOS/Tailscale"'

[plugins.ghq]
local = "~/dotfiles/plugins/ghq"
apply = ["defer"]

[plugins.assh]
inline = 'alias ssh="assh wrapper ssh --"'

# langs

[plugins.fnm]
local = "~/dotfiles/plugins/fnm"
apply = ["defer"]

[plugins.pnpm]
local = "~/dotfiles/plugins/pnpm"
apply = ["defer"]

[plugins.deno]
local = "~/dotfiles/plugins/deno"
apply = ["defer"]

[plugins.bun]
local = "~/dotfiles/plugins/bun"
apply = ["defer"]

[plugins.rust]
local = "~/dotfiles/plugins/rust"
apply = ["defer"]

[plugins.go]
inline = 'export GOPATH="$HOME/go" && export PATH="$PATH:$GOPATH/bin"'

# Haskell
[plugins.ghcup]
local = "~/dotfiles/plugins/ghcup"
apply = ["defer"]

[plugins.uv]
local = "~/dotfiles/plugins/uv"
apply = ["defer"]
# uv, pipx, mise など各ツールの作者が作ったものらしい https://chatgpt.com/c/688dc603-ae60-8331-b37d-e178408d50a5
[plugins.local-share-env]
inline = 'source "$HOME/.local/share/../bin/env"'

[plugins.gh]
local = "~/dotfiles/plugins/gh"
apply = ["defer"]

[plugins.fly]
local = "~/dotfiles/plugins/fly"
apply = ["defer"]

[plugins.turso]
local = "~/dotfiles/plugins/turso"
apply = ["defer"]

# personal
[plugins.ocr]
local = "~/dotfiles/plugins/ocr"
apply = ["PATH-bin"]

[plugins.is-mac]
inline = 'alias IS_MAC="[[ $(uname) == "Darwin" ]]" '
[plugins.is-wsl]
inline = 'alias IS_WSL="[[ -f /proc/version ]] && grep -q microsoft /proc/version"'

[plugins.cloc-dir]
local = "~/dotfiles/plugins/cloc-dir"
apply = ["defer"]

[plugins.peco-util-funcs]
local = "~/dotfiles/plugins/peco-util-funcs"
apply = ["defer"]

[plugins.onyx]
inline = 'export ONYX_PATH="$HOME/.onyx" && export PATH="$ONYX_PATH/bin:$PATH"'

# WSL
[plugins.WSL]
local = "~/dotfiles/plugins/WSL"
apply = ["defer"]


# should be loaded last

# ターミナルのカーソルの右にサジェストを表示するプラグイン
[plugins.starship] # fzf-tabより後ろ
local = "~/dotfiles/plugins/starship"
apply = ['compile_source']

[plugins.fast-syntax-highlighting]
github = "zdharma-continuum/fast-syntax-highlighting"
apply = ["defer"]
